#home {
  margin: 0 10%;
  color: var(--primary);
  display: grid;
  grid-template: repeat(2, 100%), repeat(2, 50%);
  gap: 20px;
}

#home > * {
  background-color: var(--white);
  padding: 30px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

#home h1 {
  grid-area: 1/1/2/3;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

#home > div p,
#home > div tr {
  line-height: 1.4rem;
}

#home h2 {
  margin-bottom: 5px;
}

#home tbody td:nth-child(2) {
  padding: 0 10px;
}
